<h3 mat-dialog-title>Update Data here</h3>

<mat-dialog-content>
    <div class="form-container">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="local_data.name">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>DOB in MMM DD, YYYY</mat-label>
                <input matInput [(ngModel)]="local_data.dob">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput [(ngModel)]="local_data.address">
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="submit()">Submit</button>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>